
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*----------------------------------------------*/
html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    line-height: 1.5;
    color: #4f4f4f;
    font-family: cursive;
}

nav a{
    border-radius: 10px;
    width: 10%;
    padding: 2% 0;
    text-align: center;
    margin: 0 20%;
    color: white;
    display: inline-block;
}

.orange{
    margin-left:10%;
    background-color: orange;
    text-align: center;
    
}

.blue{
    margin: 0 2%;
    background-color: blue;
    text-align: center;
}

.yellow{
    margin-right:10%;
    background-color: yellow;
    text-align: center;
}
   
.top{
    position: relative;
}

.leftcircle, .right{

    display:inline-block
}

 .right{
     position: absolute;
     top: 25%;
     text-align: center;
     margin-left: -50%;
 }  
      

h1{
    padding-left: 5%;
}

h2{
    padding-left: 5%;
}
.text{
    text-align: center;
    top: 25%;
    margin-bottom: 50%;
    
}
p{
    background-color: salmon;
    margin: 0px, 50px;
    text-align: center;
    padding: 10px;
    
}
.first{
    width: 50%;
    margin: 0 auto;
}

.leftcircle img{
    border-radius: 50%;
    text-align: left;
    width: 30%;
    height: auto;
}

.stretch img{
    height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    width: 100%;
}

.happy{
    margin: 0 auto;
    height: 10%;
    width: 10%;
}
h3{
    text-align: center;
    margin: 0 500px;
    padding: 7%;
}

.happy1{
    width: 13%;
    height: auto;
    margin: 0 auto;
}

.bottom{
    height: 
    width:
}

.third{
    text-align: center;
}

.second{
    text-align: center;
}